.question-row-light{
    padding-top: 30px;
    padding-bottom: 30px;
}

.question-row-light > div > h1{
    font-style: italic;
}

.question-row-light > div > hr{
    border: 0; 
    height: 1px; 
    background-image: linear-gradient(to right, rgba(50,88,110,0), rgba(50,88,110,0.75), rgba(50,88,110,0));
}

.question-row-dark{
    padding-top: 30px;
    padding-bottom: 30px;
}

.question-row-dark > div > h1{
    font-style: italic;
}

.question-row-dark > div > hr{
     border: 0; 
     height: 1px; 
     background-image: linear-gradient(to right, rgba(246,247,248,0), rgba(246,247,248,0.75), rgba(246,247,248,0));
}

.no-answer-email{
    padding-bottom: 100px;
}

.no-answer-email-heading{
     padding-top: 40px; 
     padding-bottom: 20px;
}

.no-answer-form > div{
     background-color:rgb(246,247,248); 
     padding-left: 0px; 
     padding-right: 0px; 
     border: solid 2px rgb(50,88,110); 
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.no-answer-form > div > h2{
     justify-content: center; 
     width: 100%; 
     height: 100px; 
     padding: 5px; 
     background-color: rgb(50,88,110); 
     margin: 0px;
}

.no-answer-form > div > form{
     padding: 10px;
     background-color: rgb(50,88,110);
}

#exampleInputName1, #exampleInputEmail1, #exampleTxtArea1{
    background-color: rgb(50,88,110);
}

#exampleInputName1:hover, #exampleInputEmail1:hover, #exampleTxtArea1:hover, #exampleInputName1:active, #exampleInputEmail1:active, #exampleTxtArea1:active, #exampleInputName1:focus, #exampleInputEmail1:focus, #exampleTxtArea1:focus{
    background-color: rgb(246,247,248);
    border: solid 1px rgb(50,88,110);
    color: rgb(50,88,110);
}

.no-answer-form > div > form > button{
     border: solid 1px rgb(246,247,248); 
     margin-left: auto; 
     margin-right: auto; 
     display: block; 
     width: 175px; 
     border-radius: 25px; 
     background-color: rgb(50,88,110);
}

.no-answer-form > div > form > button:hover{
    background-color: rgb(246,247,248);
    border: solid 1px rgb(50,88,110);
    box-shadow: none;
    color: rgb(50,88,110);
}